@charset "UTF-8";
/* CSS Document */

/* Color scheme hexadecimal values: 20E05F 29332C 37AD08 9E47B8 8426E0*/

/* The body tag style applies to all elements on the page */

body {
background:  	#2F4F4F; 
background: -moz-linear-gradient(top, #2F4F4F 44%, #29332C 100%); 
background: -webkit-linear-gradient(top, #2F4F4F 44%, #29332C 100%); 
background: -o-linear-gradient(top, #2F4F4F 44%, #29332C 100%); 
background: -ms-linear-gradient(top, #2F4F4F 44%, #29332C 100%); 
background: linear-gradient(to bottom,#2F4F4F 44%, #29332C 100%); 
font-family: Verdana, Geneva, Arial, sans-serif;
padding:0px;
margin:0px;
}

img {
    width: 100%;
    height: auto;
}

#banner{
height:auto;
width: auto;
background: #8426E0; 
background: -moz-linear-gradient(bottom, #29332C 27%, silver 80%); 
background: -webkit-linear-gradient(bottom, #29332C 27%, silver 80%); 
background: -o-linear-gradient(bottom, #29332C 27%, silver 80%); 
background: -ms-linear-gradient(bottom, #29332C 27%, silver 80%); 
background: linear-gradient(to top, #29332C 27%, silver 80%); 
font-family: 'Open Sans Condensed', sans-serif;

}
.lower {
	margin-top: 45px;
	color: white;
}

.background-white {
	background-color: white;
}

.menubtn {
	margin-top: 68px;
	color: white;
	width: 120px;
	height: 50px;
	background-color: inherit;
	border: none;
}

.menubtn:hover {
	margin-top: 68px;
	color: black;
	width: 110px;
	height: 50px;
	background-color: beige;
	border: none;
}

#slides {
    display: none
    }

#slides .slidesjs-navigation {
    margin-top:0px;
    }

#slides .slidesjs-previous {
    margin-right: 5px;
    float: left;
    }

#slides .slidesjs-next {
    margin-right: 5px;
    float: left;
    }

.slidesjs-pagination {
    margin: 6px 0 0;
    float: right;
    list-style: none;
    }

.slidesjs-pagination li {
    float: left;
    margin: 0 1px;
    }

.slidesjs-pagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background-image: url(img/pagination.png);
    background-position: 0 0;
    float: left;
    overflow: hidden;
    }

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
    background-position: 0 -13px
    }

.slidesjs-pagination li a:hover {
    background-position: 0 -26px
    }

#slides a:link,
#slides a:visited {
    color: black
    }

#slides a:hover,
#slides a:active {
    color: #9e2020
    }


#slides {
    display: none
    }

.paragraph {
	margin-left: 20px;
	margin-right: 20px;
}
